{% extends 'base.html' %}

{% block content %}

<!-- WEBSITE HEADER -->
<div class = "container text-center" style = "padding-top: 15%;">
    <div class = "row justify-content-center">
        <h1>SALIL NADKARNI</h1>
    </div>
    <div style="display: flex; justify-content: space-evenly; padding: 0% 27%">
        <a target="_blank" href="mailto:salnad02@gmail.com" class = "footerlink"><h3>email</h3></a> <h3>&nbsp/&nbsp</h3> 
        <a target="_blank" href="https://linkedin.com/in/salnad" class = "footerlink"><h3>github</h3></a> <h3>&nbsp/&nbsp</h3> 
        <a target="_blank" href="https://github.com/salnad" class = "footerlink"><h3>linkedin</h3></a> <h3>&nbsp/&nbsp</h3> 
        <a target="_blank" href="#" class = "footerlink"><h3>resume</h3></a>
    </div>
    <div style="padding: 1% 0%">
        <p class="mainpage">current freshman @ the <span style="font-weight: 300;">university of michigan</span> and incoming intern @ <span style="font-weight: 300;">google</span> <br>
        majoring in <span style="font-weight: 300;">computer science</span>, engineering. minoring in <span style="font-weight: 300;">mathematics</span> <br>
        strong interest in <span style="font-weight: 300;">data analysis and visualization</span> and <span style="font-weight: 300;">quantitative methods</span>. <br>
        check out my <span style="font-weight: 700;"><a href="#" class = "footerlink">projects</a></span> and <span style="font-weight: 700;"><a href="#" class = "footerlink">read my blog</a></span> on math & cs and their intersection <br></p>
    </div>
</div>

{% endblock %}

<!-- 
    <div class = "row justify-content-center">
        <div class = "col-3"></div>
        <div class = "col"><button  type = "button" class = "link_button btn btn-outline-dark">email</button></div>
        <div class = "col"><button  type = "button" class = "link_button btn btn-outline-dark">github</button></div>
        <div class = "col"><button  type = "button" class = "link_button btn btn-outline-dark">linkedin</button></div>
        <div class = "col"><button  type = "button" class = "link_button btn btn-outline-dark">resume</button></div>
        <div class = "col-3"></div>
    </div>
-->